<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1_stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{25,0},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy1_stand.png</string>
            <key>size</key>
            <string>{50,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:348cf725ca34611e4300f5ced88d4ad7:d00b8cda0ba2f6dd78440c329090488b:3b3e2a914d5588f40b5e679a8a33fe16$</string>
            <key>textureFileName</key>
            <string>enemy1_stand.png</string>
        </dict>
    </dict>
</plist>
